In [1]:
import sys
import os

notebook_path = os.path.abspath(os.getcwd())
parent_dir = os.path.abspath(os.path.join(notebook_path, '..'))
sys.path.append(parent_dir)

In [2]:
import pandas as pd
from proj_utils.refactoring import check_for_duplicate_dates

data = pd.read_csv('../data/server_data/dataset.csv', index_col='Unnamed: 0')
data['S_prev'] = data['S'].shift(1)
data['price'] *= data['S']

data.head()

,dttm,id,price,S,r,S_prev
0,2023-11-27 08:00:00,ETH-30NOV23-1750-P,0.412478,2062.390869,0.05,NaN
1,2023-11-28 08:00:00,ETH-30NOV23-1750-P,0.202752,2027.517212,0.05,2062.390869
2,2023-11-29 08:00:00,ETH-30NOV23-1750-P,0.409837,2049.186768,0.05,2027.517212
3,2023-11-27 08:00:00,ETH-30NOV23-1800-P,0.618717,2062.390869,0.05,2049.186768
4,2023-11-28 08:00:00,ETH-30NOV23-1800-P,0.405503,2027.517212,0.05,2062.390869

In [9]:
ex = pd.read_csv('../data/server_data/crypto_option_candles_days.csv')

print(f"Кол-во строчек с нулевыми ценами опционов в датасете: {len(ex[ex['close'] == 0])}\nПроцент нулевых цен опционов в датасете {round(len(ex[ex['close'] == 0])/len(ex) * 100, 2)}%")

Кол-во строчек с нулевыми ценами опционов в датасете: 2607
Процент нулевых цен опционов в датасете 0.41%

In [22]:
quantity, percent = check_for_duplicate_dates(data)

print(f"Кол-во строчек с повторяющимися датами : {quantity}\nПроцент таких строчек по отношению ко всему датасету: {percent}")

Кол-во строчек с повторяющимися датами : 15242
Процент таких строчек по отношению ко всему датасету: 2.41